


<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">

      <app-list-menu-items></app-list-menu-items>

    </mat-drawer>
  
    <div class="example-sidenav-content">

        <mat-toolbar class="mat-elevation-z6">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="drawer.toggle()" class="btn-menu-pos">
              <mat-icon>menu</mat-icon>
            </button>

            &nbsp;
            <p class="top-space-txt">Compras</p>
            
            &nbsp;&nbsp;
            <mat-icon>store</mat-icon>

            <span class="example-spacer"></span>
            <app-tools-user></app-tools-user>

        </mat-toolbar>
  
        <div class="wrap-contain">
          
          <app-cards-home></app-cards-home>
          
        </div>
          
    </div>

</mat-drawer-container>
  

