
.wrap-dash{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.col-sm-12.col-md-6.col-lg-4.col-xl-3.card-inline.paddin-card.ng-star-inserted:focus {
    outline: none;
}

.material-icons{
    font-size: 125px !important;
}
.mat-icon{
    width: fit-content !important;
}

.bottom-card{
    margin-bottom: 2rem;
}
