@import '~@angular/material/theming';

@include mat-core();

//
// Light style
//
$xia-light-primary: mat-palette($mat-orange, 600);
$xia-light-accent: mat-palette($mat-blue, 800);
$xia-light-warn: mat-palette($mat-red, 500);

//
// Dark style
//
$xia-dark-primary: mat-palette($mat-green, A200);
$xia-dark-accent: mat-palette($mat-purple, A700);
$xia-dark-warn: mat-dark-theme($mat-red, A400);


$xia-light-theme: mat-light-theme($xia-light-primary, $xia-light-accent, $xia-light-warn);
$xia-light-theme: mat-dark-theme($xia-dark-primary, $xia-dark-accent, $xia-dark-warn);



@include angular-material-theme($light-theme);


.light-theme{
    @include angular-material-theme(light-theme);
    background: #fff;
    color:#222;
}

.dark-theme{
    @include angular-material-theme(dark-theme);
    background: #222;
    color: #fff;
}


