<mat-spinner mode="indeterminate" *ngIf="loadSpinner" ></mat-spinner>

<div class="margin-1" *ngIf="!loadSpinner">


    <form (ngSubmit)="submitEditWarehose(dataForm)"
    #dataForm="ngForm">

    <mat-dialog-content class="mat-typography" >
        <h2 class="mb-3" align="center"> Edita los campos que deseas actualizar. </h2>

        <mat-list>
            <p>
                <mat-form-field class="fill-size mt-1">
                    <mat-label>Código ERP</mat-label>
        
                        <input  matInput 
                                placeholder="Código ERP" 
                                name="code"
                                [(ngModel)]="wareHouse.code"
                                required>
        
                        <mat-icon matSuffix>qr_codee</mat-icon>
                        
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="fill-size mt-1">
                    <mat-label>Descripción</mat-label>
        
                        <input  matInput 
                                placeholder="Descripción" 
                                name="description"
                                [(ngModel)]="wareHouse.description"
                                required>
        
                        <mat-icon matSuffix>list_alt</mat-icon>
                        
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="fill-size mt-1">
                    <mat-label>Tipo de almacén</mat-label>
        
                        <input  matInput 
                                placeholder="Tipo de almacén" 
                                name="type"
                                [(ngModel)]="wareHouse.type"
                                required>
        
                        <mat-icon matSuffix>domain</mat-icon>
                        
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="fill-size mt-1">
                    <mat-label>Ubicación</mat-label>
        
                        <input  matInput 
                                placeholder="Ubicación"
                                name="location"
                                [(ngModel)]="wareHouse.location"
                                required>
        
                        <mat-icon matSuffix>place</mat-icon>
                        
                </mat-form-field>
            </p>

        </mat-list>

    </mat-dialog-content>

        <mat-dialog-actions align="center">
            <button mat-stroked-button mat-dialog-close>Cancelar</button>
            <button mat-flat-button color="primary" type="submit">Guardar</button>
        </mat-dialog-actions>

    </form>

</div>

