
@media screen and (max-width: 800px){
    .web-only{
        display: none;
    }
}
@media screen and (min-width: 800px){
    .mobile-only{
        display: none;
    }
}

@media screen and (max-width: 800px){

    #mobile-menu{
        width: 100% !important;
    }
}

