
<mat-drawer-container class="example-container" >

    <mat-drawer #drawer class="example-sidenav" mode="side" opened id="mobile-menu">
        <span>
            <button mat-flat-button color="accent" class="fill-size mb-3" style="min-width: 20rem;"
            (click)="createWarehouse()">
                <mat-icon>add_box</mat-icon>
                &nbsp;
                <span>Crear almacén</span>
            </button>
        </span>
        <mat-nav-list>

            <mat-form-field class="fill-size mb-5">
                <input matInput placeholder="Buscar por nombre..." name="filterList" [(ngModel)]="filterList">       
            </mat-form-field>

            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" 
                *ngFor="let link of listMenu | listSearch: filterList" (click)="viewTableById(link.id)" class="fill-size">
                    <mat-expansion-panel-header >
                        <mat-panel-description>
                            {{ link.company.name }}
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div style="text-align: right;">
                        <span class="link-text text-accent-color span-start-mobile" (click)="drawer.toggle()">
                            Detalles
                        </span>
                        <span class="link-text separate-r text-primary-color" (click)="editWarehouse()" id="edit-span">
                            Editar
                        </span>
                        <span class="link-text text-primary-color" (click)="deleteWarehouse()" id="delete-span">
                            Eliminar
                        </span>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
    
        </mat-nav-list>
    </mat-drawer>

    <mat-toolbar class="mat-elevation-z1" color="primary" style="height: 5rem;" >

        <button mat-button style="margin-left: -1rem;" (click)="drawer.toggle()" class="mobile-only">
            <mat-icon>menu</mat-icon>
        </button>
    
        <span style="margin-top: 1px;">Almacén</span>

        <span class="example-spacer"></span>

        <span>
            <button mat-button (click)="editWarehouse()">
                <mat-icon>edit</mat-icon>
            </button>
        </span>
        <span >
            <button mat-button (click)="deleteWarehouse(tableSelect)" >
                <mat-icon>delete_forever</mat-icon>
            </button>
        </span>
    </mat-toolbar>
    
    <!-- <mat-list class="warehouse-items">
        <h3 mat-subheader>Código ERP</h3>
        <mat-list-item >
            <mat-icon mat-list-icon>qr_code</mat-icon>          
            <h1 mat-line >{{tableSelect.phone}}</h1>
        </mat-list-item>
        <mat-divider></mat-divider>

        <h3 mat-subheader>Descripción</h3>
        <mat-list-item >
            <mat-icon mat-list-icon>list_alt</mat-icon>
            <h1 mat-line>{{tableSelect.name}}</h1>
        </mat-list-item>
        <mat-divider></mat-divider>

        <h3 mat-subheader>Tipo de almacén</h3>
        <mat-list-item >
            <mat-icon mat-list-icon> domain</mat-icon>
            <h1 mat-line>{{tableSelect.website}}</h1>
        </mat-list-item>
        <mat-divider></mat-divider>

        <h3 mat-subheader>Ubicación</h3>
        <mat-list-item >
            <mat-icon mat-list-icon>place</mat-icon>
            <h1 mat-line>{{tableSelect.username}}</h1>
        </mat-list-item>
        <mat-divider></mat-divider>

        <h3 mat-subheader>Clave de almacén</h3>
        <mat-list-item >
            <mat-icon mat-list-icon>vpn_key</mat-icon>
            <h1 mat-line>{{tableSelect.id}}</h1>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list> -->

</mat-drawer-container>