
 <mat-drawer-container class="example-container" autosize>

    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        <span >
            <button mat-flat-button color="primary" class="fill-size mb-3 mt-5"
            (click)="createWarehouse()">
                <mat-icon>add_box</mat-icon>
                &nbsp;
                <span>Crear almacén</span>
            </button>
        </span>
      <mat-nav-list>
        <mat-form-field class="fill-size">
          <input matInput placeholder="Buscar por nombre..." name="filterList" [(ngModel)]="filterList">       
        </mat-form-field>
        <!-- [routerLink]="link.redirect" -->
      <mat-list-item class="menu-items mt-3" (click)="viewTableById(link.id)"
        *ngFor="let link of listMenu | listSearch: filterList" >
        {{ link.company.name }}
        <mat-divider></mat-divider>
      </mat-list-item>
  
    </mat-nav-list>
  
    </mat-drawer>

    <mat-toolbar class="mat-elevation-z1">
        <span>Almacén</span>
        <span class="example-spacer"></span>

        <span>
            <button mat-stroked-button (click)="editWarehouse()">
                <mat-icon>edit</mat-icon>
                &nbsp;
                <span>Editar almacén</span>
            </button>
        </span>
        &nbsp;&nbsp;&nbsp;
        <span>
            <button mat-stroked-button color="warn" (click)="deleteWarehouse()">
                <mat-icon>delete_forever</mat-icon>
                &nbsp;
                <span>Borrar almacén</span>
            </button>
        </span>

    </mat-toolbar>

    <mat-list class="warehouse-items" >
        <h3 mat-subheader>Código ERP</h3>
        <mat-list-item >
          <mat-icon mat-list-icon>qr_code</mat-icon>          
          <h4 mat-line>{{tableSelect.phone}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>

        <h3 mat-subheader>Descripción</h3>
        <mat-list-item >
          <mat-icon mat-list-icon>list_alt</mat-icon>
          <h4 mat-line>{{tableSelect.name}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>

        <h3 mat-subheader>Tipo de almacén</h3>
        <mat-list-item >
          <mat-icon mat-list-icon> domain</mat-icon>
          <h4 mat-line>{{tableSelect.website}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>

        <h3 mat-subheader>Ubicación</h3>
        <mat-list-item >
          <mat-icon mat-list-icon>place</mat-icon>
          <h4 mat-line>{{tableSelect.username}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>

        <h3 mat-subheader>Clave de almacén</h3>
        <mat-list-item >
          <mat-icon mat-list-icon>vpn_key</mat-icon>
          <h4 mat-line>{{tableSelect.id}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>


    <!-- <table class="mat-elevation-z1 position" mat-table [dataSource]="tableSelect" >

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
            </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef>Clave</th>
            <td mat-cell *matCellDef="let element"> {{element.address.zipcode}} </td>
        </ng-container>
    
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>Código ERP</th>
            <td mat-cell *matCellDef="let element"> {{element.address.suite}} </td>
        </ng-container>
        
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Tipo de almacén </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>
    
        <ng-container matColumnDef="ubication">
            <th mat-header-cell *matHeaderCellDef> Ubicación </th>
            <td mat-cell *matCellDef="let element"> {{element.address.city}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
    </table>
                     
   -->

    <!-- <mat-accordion class="example-headers-align position">

        <mat-expansion-panel  hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Clave
            </mat-panel-title>
            <mat-panel-description>
            {{tableSelect.id}}
            <mat-icon>map</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
            <input matInput placeholder="Editar Clave">
        </mat-form-field>
    
        <mat-action-row>
            <button mat-button color="warn" (click)="editWarehose()">Editar campos </button>
            <button mat-button color="primary" (click)="saveChanges()">Guardar cambios</button>
        </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel  hideToggle>
            <mat-expansion-panel-header>
            <mat-panel-title>
                Código ERP
            </mat-panel-title>
            <mat-panel-description>
                {{tableSelect.phone}}
                <mat-icon>map</mat-icon>
            </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field>
            <input matInput placeholder="Country">
            </mat-form-field>
        
            <mat-action-row>
                <button mat-button color="warn" (click)="editWarehose()">Editar campos </button>
                <button mat-button color="primary" (click)="saveChanges()">Guardar cambios</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel  hideToggle>
            <mat-expansion-panel-header>
            <mat-panel-title>
                Descripción
            </mat-panel-title>
            <mat-panel-description>
                {{tableSelect.name}}
                <mat-icon>map</mat-icon>
            </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field>
            <input matInput placeholder="Country">
            </mat-form-field>
        
            <mat-action-row>
                <button mat-button color="warn" (click)="editWarehose()">Editar campos </button>
                <button mat-button color="primary" (click)="saveChanges()">Guardar cambios</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel  hideToggle>
            <mat-expansion-panel-header>
            <mat-panel-title>
                Tipo de almacén
            </mat-panel-title>
            <mat-panel-description>
                {{tableSelect.email}}
                <mat-icon>map</mat-icon>
            </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field>
            <input matInput placeholder="Country">
            </mat-form-field>
        
            <mat-action-row>
                <button mat-button color="warn" (click)="editWarehose()">Editar campos </button>
                <button mat-button color="primary" (click)="saveChanges()">Guardar cambios</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel  hideToggle>
            <mat-expansion-panel-header>
            <mat-panel-title>
                Ubicación
            </mat-panel-title>
            <mat-panel-description>
                {{tableSelect.website}}
                <mat-icon>map</mat-icon>
            </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field>
            <input matInput placeholder="Country">
            </mat-form-field>
        
            <mat-action-row>
                <button mat-button color="warn" (click)="editWarehose()">Editar campos </button>
                <button mat-button color="primary" (click)="saveChanges()">Guardar cambios</button>
            </mat-action-row>
        </mat-expansion-panel>
  
    </mat-accordion> -->
  
  </mat-drawer-container>
  