
<button mat-icon-button aria-label="messages">
  <mat-icon>home</mat-icon>
</button>
<button mat-icon-button aria-label="messages">
  <mat-icon>today</mat-icon>
</button>
<button mat-icon-button aria-label="messages">
  <mat-icon>mail</mat-icon>
</button>

  &nbsp;&nbsp;

<button mat-mini-fab aria-label="login" [matMenuTriggerFor]="menu">
  <mat-icon>perm_identity</mat-icon>
</button>

<mat-menu #menu="matMenu" >
    <p class="card-profile-text">Luis Vázquez R.</p>
    <a class="mb-3" mat-button routerLink=".">Mi perfil</a>

    <div class="item-align-left">
      <button mat-menu-item (click)="dialogConfirmClose()">
        <span>Salir</span>
        &nbsp;
        <mat-icon>login</mat-icon>
      </button>
    </div>
</mat-menu>