
<mat-drawer-container class="example-container bgc-element" autosize >


    <div class="form-wraper">

        <mat-card class="form-size-container"> 

            <form   (ngSubmit)="submitLogin(dataForm)" 
                    #dataForm="ngForm">

                <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>Ingresa tu email</mat-label>

                            <input  matInput 
                                    placeholder="Correo electrónico" 
                                    [formControl]="email" 
                                    name="email"
                                    [(ngModel)]="user.email"
                                    required>

                            <mat-icon matSuffix>mail_outline</mat-icon>
                            
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>

                </p>

                <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>Ingresa tu password</mat-label>
                            <input  matInput 
                                    [type]="hide ? 'password' : 'text'"
                                    name="password"
                                    [(ngModel)]="user.password"
                                    minlength="6"
                                    required>

                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon matSuffix class="icon-xl">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>

                    </mat-form-field>
                </p>

                <div>
                    <button mat-flat-button color="primary" type="submit" class="fill-size">
                        Iniciar sesión
                    </button>
                </div>

            </form>

        </mat-card>

    </div>


</mat-drawer-container>



