.bgc-element{
    background-image:url("src/assets/images/log-image.jpg");
    background-size: cover;
    background-position: right bottom;
    -webkit-filter: brightness(80%);    
    filter: brightness(80%);
    
}

.form-wraper{

    height: 80%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}


.form-size-container{
    padding: 40px 70px 70px;
    // background-color: rgba(0,0,0,.2);
}
