/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.centered{
    text-align: center;
}

.down-top{
    margin-top: 2rem;
}

.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
.example-sidenav-content {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.wrap-contain{

    width: 95%;
    margin: 3rem;
}

.example-spacer {
    flex: 1 1 auto;
}

.fill-btn{
    width: 100%;
}
